.spinner {
    position: relative;
    width: 70px;
    height: 70px;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-radius: 50%;
    }
  }
  .spinner.spinner-2 {
  
    @keyframes scale {
      0% {
        transform: scale(1);
        border-style: solid;
      }
      
      100% {
        transform: scale(0);
        border-style: dashed;
      }
    }
    
    &:before {
      width: 70px;
      height: 70px;
      border-color: darkblue;
      top: 0px;
      left: 0px;
      animation: scale 1s linear 0s infinite alternate;
    }
    
    &:after {
      width: 70px;
      height: 70px;
      border-color: dark ;
      top: 0;
      left: 0;
      animation: scale 1s linear 0s infinite alternate-reverse;
    }
  }
  
